*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-position: center;
}

/* ------Contact Me Button------- */
.btn{
    display: block;
    margin: 20px auto 20px 0;
    width: fit-content;
    border: 1px solid #3e59fe;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight:800;
    transition: background 0.5s;
}
.btn:hover{
    background: #3e59fe
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 190px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3e59fe;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    color: #fff;
}
.header-text h1{
    font-size: 60px;
    margin-top: 5px;
    text-align: right;
    color: #3e59fe;
}

/* ----ABOUT SECTION---- */
#about{
    padding: 80px 0;
    color: #9c9c9c;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight:600;
    margin-top: +10px;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #3e59fe;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #3f50be;
    font-size: 14px;
    font-weight: bold;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-- -------Portfolio-------- */
#portfolio{
    padding: 50px 0;
    margin-bottom: 50px;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overFlow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3e59fe);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 800;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #3e59fe;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* -------Resume-------- */
#resume {
    padding: 0px 0; /* Adjust padding if needed */
    margin-top: -50px;
}

.resume-col-1 {
    width: 100%;
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text within the column */
}

/* --------Calendar-------- */
.responsive-calendar-wrapper {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    padding-top: calc(100% / 2);
  }

  .responsive-calendar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  }
/* -------Contact------- */
.contact-left{
    flex-basis: 35%;
    margin-top: 50px;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 50px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #3e59fe;
    margin-right: 15px;
    font-size: 25px;
}
.fa-solid.fa-phone{
    color: green;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #3f50be;
    display: inline-block;
    transition: transform 0.5s, color 0.5s;
}

/* ------Social Media Buttons------- */
.fa-solid.fa-envelope{
    color: #8f00b7;
    transition: color 0.5s;
}
.fa-brands.fa-github{
    color: #ffff;
    transition: color 0.5s;
}
.fa-brands.fa-linkedin{
    color: #0A66C2;
    transition: color 0.5s;
}

.social-icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}
.social-icons a:hover .fa-solid.fa-envelope{
    color: #fff;
}
.social-icons a:hover .fa-brands.fa-github{
    color: #3e59fe;
}
.social-icons a:hover .fa-brands.fa-linkedin{
    color: #fff;
}

.btn.btn2{
    display: inline-block;
    background: #3e59fe
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
form .btn2:hover {
    transform: translateY(-5px);
}
/* ------------------css for mobile devies------------ */
nav .fas{
    display: none;
} 

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/mobile-background.jpg);
    }
    .header-text{
        margin-top: 180%;
        font-size: 23px;
        font-weight: 600;
    }
    .header-text h1{
        margin-top: -5px;
        font-size: 43px;
        font-weight: bold;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    } 
    nav ul{
        background: #3e59fe;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    /* --------My Work Boxes-------- */
    .layer h3{
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 8px;
    }
    .layer a{
        margin-top: 10px;
        color: #3e59fe;
        text-decoration: none;
        font-size: 10px;
        line-height: 40px;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
    }
    .layer p{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .resume, .calendar{
        flex-basis: 100%;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    #calendar {
        padding: 20px 0;
    }

    iframe {
        width: 100%;
        height: 390px; 
    }
    .resume-col-1{
        width: 100%;
    }
    /* --------Calendar-------- */
.responsive-calendar-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding-top: calc(100% / 2);
  }

  .responsive-calendar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
  }
}
#msg{
    color: gray;
    margin-top: -10px;
    margin-bottom: 500px;
    display: block;
}